.entry {
    width: 100%;
    display: flex;
    margin: 0;
    padding-right: 2em;

    &__visual {
        display: flex;
        justify-content: flex-end;
        flex: 0 0 var(--left-margin);
        padding-right: var(--spacing-lg);
    }
}