.entry {
    width: 100%;
    display: flex;
    margin: 0;
    padding-right: 2em;

    &__visual {
        display: flex;
        justify-content: flex-end;
        width: var(--left-margin);
    }
}