<div id="header">
  <div id="logo">
    <h1>Ahmad <span class="sc">Shahwan</span></h1>
    <h2>Research and Development Engineer</h2>
  </div>
  <div id="menu">
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/career">Career</a>
      </li>
      <li>
        <a routerLink="/education">Education</a>
      </li>
      <li>
        <a routerLink="/teaching">Teaching</a>

      </li>
      <li>
        <a routerLink="/research">Research</a>
      </li>
      <li>
        <a routerLink="/events">Events</a>
      </li>
    </ul>
  </div>

</div>
