<div id="header">
  <div id="logo">
    <h1>Ahmad <span class="sc">Shahwan</span></h1>
    <h2>Research and Development Engineer</h2>
  </div>
  <div id="menu">
    <ul>
      <li>
        <app-menu-link link="/">Home</app-menu-link>
      </li>
      <li>
        <app-menu-link link="/career">Career</app-menu-link>
      </li>
      <li>
        <app-menu-link link="/education">Education</app-menu-link>
      </li>
      <li>
        <app-menu-link link="/teaching">Teaching</app-menu-link>
      </li>
      <li>
        <app-menu-link link="/research">Research</app-menu-link>
      </li>
      <li>
        <app-menu-link link="/events">Events</app-menu-link>
      </li>
    </ul>
  </div>

</div>
