@use 'styles' as *;

.publications {
  font-size: var(--font-size-sm);

  &__category {
    text-align: right;
    word-spacing: 100vw;

    @include small {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(var(--left-margin) - var(--spacing-lg));
      font-size: var(--font-size-xs);
    }
  }

  &__content {
    padding-bottom: var(--spacing-md);
  }
}