a, span {
  display: inline-block;
  padding: 0;
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-decoration: none;
  border-radius: var(--radius-md);
  transition: all var(--transition);
  color: var(--color-primary);

  &.secondary {
    color: var(--color-text-secondary);
    font-size: var(--font-size-xs);
  }

  &.current {
    text-decoration: underline;
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}