@use 'styles' as *;

:host {
   display: contents;
}

a, span {
  display: inline-block;
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-decoration: none;
  color: var(--color-primary);

  &.secondary {
    color: var(--color-text-secondary);
    font-size: var(--font-size-xs);
  }

  &.current {
    text-decoration: underline;
  }

  @include small {
    font-size: var(--font-size-xs);
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}