.degree {
    width: 100%;

    &__content {
        display: grid;
        grid-template-columns: 1fr auto;
        padding-bottom: var(--spacing-md);
        font-size: var(--font-size-sm);
        align-items: baseline;
        width: 100%;

        &__title {
            order: 1;
            grid-column: 1 / span 2;
            font-weight: 600;
            color: var(--color-text);
        }

        &__institution {
            order: 2;
            font-weight: 600;
            color: var(--color-text-secondary);
        }

        &__year {
            order: 3;
            text-align: right;
        }
    }
}