.degree {
    width: 100%;
    &__details {
        display: grid;
        grid-template-columns: auto max-content;
        margin-bottom: var(--spacing-sm);
        font-size: var(--font-size-sm);
        align-items: baseline;
        width: 100%;

        &__title {
            order: 1;
            grid-column: 1 / span 2;
        }

        &__institution {
            order: 2;
        }

        &__year {
            order: 3;
            text-align: right;
        }

    }
}