<div class="degree">
  <app-entry>
    <div visual>
      <img class="thumbnail" [ngSrc]="model.icon.url" height="32" width="32" [alt]="model.institution">
    </div>
    <div content>
      <div class="degree__details">
        <div class="degree__details__title">
          {{ model.title }}
        </div>
        <div class="degree__details__institution">
          {{ model.institution }}
        </div>
        <div class="degree__details__year">
          {{ model.year }}
        </div>
      </div>
    </div>
  </app-entry>
</div>
