/* Minimal Sidebar */
#sidebar {
  width: 200px;
  flex-shrink: 0;
  padding-top: calc(var(--spacing-unit) * 2);
  font-size: 0.9rem;

  img {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      margin-bottom: calc(var(--spacing-unit) * 1.5);
    }
  }

  h2 {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-text-muted);
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--color-border);
  }

  ::ng-deep a, ::ng-deep span {
    color: var(--color-text);
  }

  ::ng-deep a:hover {
    color: var(--color-link);
  }

  ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ::ng-deep ul.menu {
    li {
      padding: 0.25rem 0;
    }

    a, span {
      display: block;

      &.current {
        color: var(--color-link);
        font-weight: 500;
      }
    }
  }

  ::ng-deep ul.menu ul {
    padding-left: 1rem;

    li {
      a, span {
        font-size: 0.85rem;
      }
    }
  }

  ::ng-deep ul {
    padding: 0;
    list-style: none;

    &.menu {
      li ul {
        display: none;
      }

      li.active ul {
        display: block;
      }
    }
  }
}

/* Hide sidebar on mobile */
@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
}

