<div id="sidebar">
  <ul>
    <li>
      @if (links().length) {
        <h2>{{ group() }}</h2>
        <ul class="menu">
        @for (link of links(); track link.id) {
          <app-side-bar-menu-item [link]="link" />
        }
        </ul>
      }
      <h2>Links</h2>
      <ul>
        <li>
          <img class="alignleft" ngSrc="./assets/images/digamma.png" height="16" width="16" alt="Digamma Solutions"/>
          <a target="_blank" href="https://digamma.solutions/">Digamma Solutions</a>
        </li>
        <li>
          <img class="alignleft" ngSrc="./assets/images/inp.png" height="16" width="16" alt="INP Grenoble"/>
          <a target="_blank" href="https://www.grenoble-inp.fr/">Grenoble INP</a>
        </li>
        <li>
          <img class="alignleft" ngSrc="./assets/images/inria.png" height="16" width="16" alt="INRIA"/>
          <a target="_blank" href="https://www.inria.fr/en/inria-centre-university-grenoble-alpes">INRIA Rhone-Alpes</a>
        </li>
        <li>
          <img class="alignleft" ngSrc="./assets/images/mosig.png" height="16" width="16" alt="MoSIG"/>
          <a target="_blank" href="https://mosig.imag.fr/">MoSIG Program</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
