<div id="sidebar">
  <ul>
    <li>
      @if (links().length) {
        <h2>{{ group() }}</h2>
        <ul class="menu">
        @for (link of links(); track link.id) {
          <app-side-bar-menu-item [link]="link" />
        }
        </ul>
      }
      <h2>{{ (sidebar | async)?.externalLinksMenuTitle }}</h2>
      <ul>
        @for (link of (sidebar | async)?.externalLinks; track link.id) {
          <li>
            <img class="alignleft" [ngSrc]="link.icon.url" height="16" width="16" [alt]="link.title"/>
            <a target="_blank" [href]="link.url">{{ link.title }}</a>
          </li>
        }
      </ul>
    </li>
  </ul>
</div>
