<div class="degree">
  <div class="icon">
    <img class="thumbnail" [ngSrc]="image" height="32" width="32" [alt]="alt">
  </div>
  <div class="details">
    <div class="line">
      <div class="year">
        <ng-content select="[year]"></ng-content>
      </div>
      <div class="academic-title">
        <ng-content select="[academic-title]"></ng-content>
      </div>
    </div>
    <div class="line">
      <div>&nbsp;</div>
      <div class="institution">
        <ng-content select="[institution]"></ng-content>
      </div>
    </div>
  </div>
</div>
