.skill {
  display: flex;
  flex-direction: row;

  .icon {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

    .thumbnail {
      height: 32px;
      width: 32px;
    }
  }

  .details {
    width: 100%;

    .description {
      padding-bottom: .75em;
    }

    .header {
      height: 1.5em;

      font-size: 16px;
    }
  }
}
