.skill {
  &__content {
    font-size: var(--font-size-sm);
    padding-bottom: var(--spacing-md);

    &__header {
      font-weight: bold;
      color: var(--color-text);
    }

    &__description {
      color: var(--color-text-secondary);
    }
  }
}