/* Skill card - minimal */
.skill {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-unit) 0;
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    border-bottom: none;
  }

  .icon {
    padding-right: var(--spacing-unit);
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

    .thumbnail {
      height: 32px;
      width: 32px;
      border-radius: 4px;
    }
  }

  .details {
    width: 100%;

    .description {
      color: var(--color-text-muted);
    }

    .header {
      font-weight: 600;
      margin-bottom: 0.25rem;
    }
  }
}
