<div class="experience">
  <app-entry>
    <div visual>
      <img class="thumbnail" [ngSrc]="model.icon.url" height="40" width="40" [alt]="model.partner" />
    </div>
    <div content>
      <div class="details">
        <div class="header" (click)="toggleMore()">
          <span class="period">
            {{ model.period }}
          </span>
          <span class="job-title">
            {{ model.title }}
          </span>
          <span class="client">
            {{ model.partner }}
          </span>
        </div>
        <div class="description">
          <div>
            {{ model.summary.text }}
          </div>
          <div class="details" [hidden]="moreHidden" [innerHTML]="model.details.html"></div>
        </div>
      </div>
    </div>
  </app-entry>
</div>