@use 'styles' as *;

.experience {
  display: flex;
  flex-direction: row;

  .details {
    width: 100%;

    .header {
      display: grid;
      grid-template-columns: 12em auto;
      margin-bottom: var(--spacing-sm);
      font-size: var(--font-size-sm);
      align-items: baseline;
      cursor: pointer;

      .period {
        order: 1;
        font-weight: 500;
        letter-spacing: 0.025em;
        display: inline-block;
        @include medium {
          grid-column: 1 / span 2;
        }
      }

      .job-title {
        order: 2;
        font-weight: 600;
        color: var(--color-text);
        display: inline-block;
        @include medium {
          grid-column: 1 / span 2;
        }
      }

      .client {
        order: 3;
        font-weight: 600;
        color: var(--color-text-secondary);
        grid-column: 1 / span 2;
      }
    }
  }

  .description {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    line-height: 1.6;
    margin-bottom: var(--spacing-xl);
  }
}

@media (max-width: 640px) {
  .experience {
    flex-direction: column;

    .icon {
      padding-right: 0;
      padding-bottom: var(--spacing-md);
    }
  }
}
