<div class="certificate">
  <div class="icon">
    <img class="thumbnail" [ngSrc]="model.institute.icon.url" height="48" width="48" [alt]="model.institute.name">
  </div>
  <div class="details">
    <div class="primary">
      <div class="academic-title">
        @if (model.url) {
          <a [href]="model.url" target="_blank">{{ model.title }}</a>
        } @else {
          {{ model.title }}
        }
      </div>
    </div>
    <div class="secondary">
      <span class="institution">
        {{ model.institute.name }}
      </span>
      <span class="year">
        {{ model.year }}
      </span>
    </div>
  </div>
</div>
