<div class="post">
  <div class="title">
    <h2>{{ (page | async)?.title }}</h2>
  </div>
  <div class="entry">
    <p style="clear: both">
      Ahmad Shahwan has defended his PhD thesis entitled: <strong>Processing Geometric Models of Assemblies to Structure and Enrich them
      with Functional Information.</strong>
    on Friday 29th of August, 2014 at 10:00AM, at the
    Grand Amphitheater of <a href="#address">INRIA Rhone-Alpes in Montbonnot</a>, before a jury composed of the
    following respectful members:
    </p>
    <dl>
      <dt><b><a href="https://cci.charlotte.edu/directory/john-gero/">Mr. John S. GERO</a></b></dt>
      <dd>Professor, University of North Carolina at Charlotte. Reporter.</dd>
      <dt><b><a href="http://marc.daniel.perso.luminy.univ-amu.fr/">Mr. Marc DANIEL</a></b></dt>
      <dd>Professeur, Universite Aix-Marseille. Reporter.</dd>
      <dt><b><a href="http://lig-membres.imag.fr/rousset/">Ms. Marie-Christine ROUSSET</a></b></dt>
      <dd>Professeur, Universite Joseph Fourier. Examiner.</dd>
      <dt><b><a>Mr. Jean-Philippe PERNOT</a></b></dt>
      <dd>Professeur, Arts et Metiers ParisTech. Examiner.</dd>
      <dt><b><a href="https://team.inria.fr/imagine/jean_claude_leon/">Mr. Jean-Claude LEON</a></b></dt>
      <dd>Professeur, Grenoble-INP. Supervisor.</dd>
      <dt><b><a href="http://pagesperso.g-scop.grenoble-inp.fr/~foucault/">Mr. Gilles FOUCAULT</a></b></dt>
      <dd>Maitre de conferences, Universite Joseph Fourier. Co-adviser.</dd>
    </dl>
    <p style="text-align: justify; line-height: 1.2">
      <b>Abstract:</b>

      <i>The digital mock-up (DMU) of a product has taken a central position in the
        product development process (PDP). It provides the geometric reference of
        the product assembly, as it defines the shape of each individual component,
        as well as the way components are put together. However, observations show
        that this geometric model is no more than a conventional representation of
        what the real product is. Additionally, and because of its pivotal role,
        the DMU is more and more required to provide information beyond mere
        geometry to be used in different stages of the PDP. An increasingly urging
        demand is functional information at different levels of the geometric
        representation of the assembly. This information is shown to be essential
        in phases such as geometric pre-processing for finite element analysis
        (FEA) purposes. In this work, an automated method is put forward that
        enriches a geometric model, which is the product DMU, with function
        information needed for FEA preparations. To this end, the initial geometry
        is restructured at different levels according to functional annotation
        needs. Prevailing industrial practices and representation conventions are
        taken into account in order to functionally interpret the pure geometric
        model that provides a start point to the proposed method.</i>
    </p>
    <p>
      Presentation is available <a href="/phd-presentation">here</a>.
    </p>
    <p>
      <a id="address">Address:</a><br/>
      INRIA Rhone-Alpes<br/>
      Inovallee<br/>
      655 avenue de l'Europe<br/>
      Montbonnot-Saint-Martin, France<br/>
    <p>
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Inria+Grenoble+Rh%C3%B4ne-Alpes,+Avenue+de+l'Europe,+Montbonnot-Saint-Martin,+France&amp;aq=0&amp;oq=INRIA+&amp;sll=38.134557,-95.712891&amp;sspn=56.746978,114.169922&amp;ie=UTF8&amp;hq=Inria+Grenoble&amp;hnear=Montbonnot-Saint-Martin,+France&amp;t=m&amp;ll=45.217886,5.807369&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
      <br/><small><a
      href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Inria+Grenoble+Rh%C3%B4ne-Alpes,+Avenue+de+l'Europe,+Montbonnot-Saint-Martin,+France&amp;aq=0&amp;oq=INRIA+&amp;sll=38.134557,-95.712891&amp;sspn=56.746978,114.169922&amp;ie=UTF8&amp;hq=Inria+Grenoble&amp;hnear=Montbonnot-Saint-Martin,+France&amp;t=m&amp;ll=45.217886,5.807369&amp;spn=0.006295,0.006295"
      style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </p>
  </div>
</div>
