<div class="post">
  @if (homepage && homepage.bio.image) {
    <div class="title">
      <h2>{{ homepage.bio.title }}</h2>
    </div>
    <div class="entry">
      <img
        [ngSrc]="homepage.bio.image.url"
        [alt]="homepage.bio.title"
        [width]="homepage.bio.image.width"
        [height]="homepage.bio.image.height"
        class="align-left" />
      <div [innerHTML]="homepage.bio.text.html"></div>

      @if (homepage.interests.length) {
        <h3>{{ homepage.interestsTitle }}</h3>
        <div class="interests">
          @for (interest of homepage.interests; track interest.id) {
            <div class="interest-details">
              <div class="interest-title">{{ interest.title }}</div>
              <div>{{ interest.description }}</div>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
