.interests {
  display: flex;
  flex-direction: column;
  width: 100%;

  .interest-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;

    .interest-title {
      width: 200px;
      font-weight: bold;
    }
  }
}
