@use 'styles' as *;

.footer {
  width: 100%;

  &__content {
    width: 100%;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);

    &__socials {
      display: flex;
      gap: var(--spacing-2xl);
      align-items: center;
      
      @include small {
        gap: var(--spacing-lg);
      }
    }
  
    &__address {
      margin: 0;
      text-align: center;
      font-size: var(--font-size-sm);
      color: var(--color-text-muted);
    }
  }
}
