@use 'styles' as *;

:host {
   display: contents;
}

.header {
  display: contents;

  * {
    background-color: var(--color-background);
  }

  &__menu {
    margin-top: 1.5rem;
    height: 3rem;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      column-gap: var(--spacing-lg);

      li {
        display: flex;
      }
    }
  }

  &__title {
    margin-top: 8rem;
    position: sticky;
    top: 3rem;
    height: 5.25rem;
    width: 100%;
    text-align: center;
    letter-spacing: var(--spacing-2xs);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include small {
      white-space: unset;
      overflow: unset;
      text-overflow: unset;
      word-spacing: 100vw;
    }
  }

  &__subtitle {
    margin-top: 1rem;
    position: sticky;
    top: calc(5.25rem + 3rem);
    height: 2rem;
    width: 100%;
    text-align: center;
    font-size: var(--font-size-lg);
  }

  &__page-header {
    margin-top: 3rem;
    position: sticky;
    top: calc(2rem + 5.25rem + 3rem);
    height: 3rem;
    padding-top: .5rem;
    width: 100%;

    &__content {
      display: flex;
    }

    h2 {
      display: flex;
      justify-content: flex-end;
      margin-left: var(--left-margin);
      padding-right: var(--spacing-lg);
    }
  }
}