:host {
   display: contents;
}

.header {
  display: contents;

  * {
    background-color: var(--color-background);
  }

  &__menu {
    margin-top: 1.5rem;
    height: 2.5rem;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      column-gap: var(--spacing-lg);

      li {
        display: flex;
      }
    }
  }

  &__title {
    margin-top: 6rem;
    position: sticky;
    top: 2.5rem;
    height: 5.25rem;
    width: 100%;
    text-align: center;
    letter-spacing: var(--spacing-2xs);
  }

  &__subtitle {
    margin-top: 1rem;
    position: sticky;
    top: calc(5.25rem + 2.5rem);
    height: 2rem;
    width: 100%;
    text-align: center;
    font-size: var(--font-size-lg);
  }

  &__page-header {
    margin-top: 3rem;
    position: sticky;
    top: calc(5.25rem + 2.5rem + 2rem);
    height: 3rem;
    padding-top: .5rem;
    width: 100%;

    &__content {
      margin-left: var(--left-margin);
      display: flex;
      align-items: first baseline;
      width: 100%;
      margin: 0;
      padding-right: 2em;
    }

    h2 {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 var(--left-margin);
      padding-right: var(--spacing-lg);
    }

    nav {
      display: flex;
      column-gap: var(--spacing-lg);
    }
  }
}