
#header {
  width: 920px;
  height: 130px;
  margin: 0 auto;
  background: url(../../../../assets/images/bg03.jpg) no-repeat left top;
}

#logo {
  float: left;
}

#logo h1 {
  margin: 0;
  padding: 60px 0 0 30px;
}

#logo h2 {
  padding: 0 0 0 30px;
  margin: 0;
}

#logo a {
  text-decoration: none;
  color: #797979;
}

#logo a:hover {
  text-decoration: underline;
  color: #0098A4;
}

#logo h2, #logo h2 a {
  font-size: 13px;
  color: #9F9F9F;
}


#menu {
  float: right;
}

#menu ul {
  margin: 0;
  padding: 78px 30px 0 0;
  list-style: none;
}

#menu li {
  float: left;
}
